.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border: 4px solid #dca31d;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100%; /* Ocupa todo el espacio permitido por el grid */
    max-width: 500px; /* Ajusta al nuevo tamaño más grande */
    border-color: #dca31d;
}

.card-header {
    margin-bottom: 12px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-description {
    font-size: 18px;
    color: #555;
}

.card-content {
    margin-top: 2px;
    font-size: 18px;  /* Aumentar tamaño del precio igual que la descripción */
    margin-bottom: 16px;
}
      
.card-footer {
    margin-top: 16px;
    text-align: center;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;  /* Espacio debajo de la imagen */
}

button {
    font-size: 18px;  /* Aumentar tamaño de fuente del botón */
    padding: 10px 20px;  /* Hacer el botón más grande en tamaño */
    background-color: #4CAF50;  /* Color de fondo del botón */
    color: white;  /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

  /* Aseguramos que en pantallas pequeñas se vean en una columna */
@media (max-width: 768px) {
    .cards-container {
      grid-template-columns: 1fr;
    }
}